/*--------------------------------------------------------------
15. blog-pg-section
--------------------------------------------------------------*/
.blog-pg-section {
	.blog-content {
		.post {
			margin-bottom: 70px;

			@include media-query(991px) {
				margin-bottom: 50px;
			}

			@include media-query(767px) {
				margin-bottom: 40px;
			}
		}
	}

	.entry-meta {
		list-style: none;
		overflow: hidden;
		margin: 35px 0;

		@include media-query(767px) {
			margin: 25px 0;
		}



		ul {
			list-style: none;

			li {
				font-weight: 400;
				float: left;
				text-transform: capitalize;
				font-size: 16px;

				a {
					color: $heading-color;

					&:hover {
						color: $theme-primary-color;
					}
				}

				i {
					position: relative;
					margin-right: 3px;
					top: 2px;

					&:before {
						font-size: 16px;
						line-height: 15px;
						color: $theme-primary-color;
					}
				}

				&+li {
					margin-left: 20px;
					padding-left: 20px;
					position: relative;

					&:before {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						content: "";
						background: #676A7D;
						width: 9px;
						height: 1px;

						@include media-query(440px) {
							display: none;
						}
					}

					@include media-query(440px) {
						margin-left: 0;
						padding-left: 0;
					}
				}

				@include media-query(767px) {
					font-size: 13px;
				}

				@include media-query(440px) {
					float: none;
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}

	.post {
		h3 {
			font-size: 32px;
			line-height: 1.2em;
			font-weight: 600;
			margin: -0.27em 0 0.7em;

			@include media-query(991px) {
				font-size: 27px;
			}

			@include media-query(767px) {
				font-size: 24px;
			}
		}

		h3 a {
			color: $heading-color;
		}

		h3 a:hover {
			color: $theme-primary-color;
		}

		p {
			margin-bottom: 2em;
			color: $text-color;

			@include media-query(767px) {
				font-size: 17px;
			}
		}

		a.read-more {
			text-align: center;
			position: relative;
			padding-right: 45px;
			transition: all .3s ease-in-out;
			text-transform: uppercase;
			color: $heading-color;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 2.52px;
			text-transform: uppercase;

			&::before {
				position: absolute;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				font-family: flaticon_DigiFix;
				content: "\f137";
				color: #060606;
				font-size: 28px;
				transition: all .3s ease-in-out;
			}

			&::after {
				position: absolute;
				content: '';
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 100px;
				border: 1px solid #1f2122;
				width: 23px;
				height: 23px;
				transition: all .3s ease-in-out;
			}

			&:hover {
				color: $theme-primary-color;

				&::before {
					color: $theme-primary-color;
					right: 2px;
				}

				&::after {
					border: 1px solid $theme-primary-color;
				}
			}
		}
	}


	.entry-media {
		position: relative;

		span {
			position: absolute;
			left: 16px;
			top: 16px;
			color: #FFF;
			text-align: center;
			font-size: 20px;
			font-weight: 500;
			line-height: 24px;
			background: $theme-primary-color;
			border-radius: 10px;
			display: inline-block;
			padding: 10px 20px;

			@media (max-width:767px) {
				font-size: 16px;
				line-height: 24px;
			}
		}

		img {
			width: 100%;
		}
	}
}

.blog-pg-left-sidebar {
	.blog-sidebar {
		@include widther(1200px) {
			padding-right: 45px;
			padding-left: 0;
		}
	}
}

.blog-pg-fullwidth {
	.blog-content {
		@include widther(1200px) {
			padding: 0;
		}
	}
}