/*======================================
6. Home-style-3
 =======================================*/

/* 6.1 wpo-about-section-s3*/
.wpo-about-section-s3 {
    padding: 120px 0;

    @media(max-width:991px) {
        padding: 90px 0;
    }

    @media(max-width:767px) {
        padding: 60px 0;
    }

    .about-left {
        .about-image {
            position: relative;

            .video-wrap {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                .video-btn {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: hsla(0, 0%, 100%, .3);
                    border-radius: 50%;
                    z-index: 1;
                    border: 2px solid #fff;

                    @media (max-width:575px) {
                        width: 70px;
                        height: 70px;
                    }

                    .fi {

                        &::before {
                            font-size: 35px;
                            position: relative;
                            color: #fff;
                            z-index: 1;

                            @media (max-width:575px) {
                                font-size: 27px;
                            }
                        }
                    }
                }
            }
        }
    }

    .about-title-right {
        span {
            color: $theme-primary-color;
            font-size: 24px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: -0.24px;
            text-transform: capitalize;

            @media(max-width:1199px) {
                font-size: 22px;
                line-height: 50px;
            }

            @media(max-width:991px) {
                justify-content: center;
            }

            @media (max-width:575px) {
                font-size: 20px;
                line-height: 35px;
            }

            i {
                line-height: unset;
                margin-right: 10px;
                position: relative;
                top: -2px;
                max-width: 35px;
            }
        }
    }

    .about-right {
        padding-left: 60px;

        @media(max-width:1199px) {
            padding-left: 30px;
        }

        @media(max-width:991px) {
            padding-left: 0;
        }
    }
}


/* 6.2 wpo-service-section-s3*/
.wpo-service-section-s3 {
    .service-wrap {
        padding: 35px 30px;

        @media(max-width: 1199px) {
            padding: 25px 20px;
        }

        .service-item {
            padding-top: 30px;
            padding-bottom: 10px;

            @media(max-width: 767px) {
                padding-top: 15px;
                padding-bottom: 0;
                display: flex;
                flex-direction: column;
            }

            p {
                max-width: 375px;

                @media(max-width: 1199px) {
                    max-width: 210px;
                    font-size: 16px;
                }

                @media(max-width: 767px) {
                    max-width: 400px;
                    font-size: 17px;
                }
            }
        }
    }

    .service-wrap .icon a {
        top: auto;
        bottom: 50px;

        @media(max-width: 1199px) {
            right: 15px;
        }

        @media(max-width: 767px) {
            margin-top: 10px;
            position: unset;
        }
    }
}

/* 6.3 wpo-project-section-s3*/
.wpo-project-section-s3 {
    &.section-padding {
        @media(max-width: 991px) {
            padding-top: 70px;
        }

        @media(max-width: 767px) {
            padding-top: 50px;
        }
    }

    .title-btn-right {
        text-align: right;

        @media(max-width: 991px) {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .project-wrap {
        margin: 0 30px;
    }

    .project-card-s2 {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;


        &:hover {
            .content {
                opacity: 1;
                visibility: visible;
                left: 0;
            }
        }
    }

    .project-card-s2 .content {
        display: flex;
        align-items: center;
        margin: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: -30%;
        bottom: 5px;
        background: #fff;
        padding: 35px 30px;
        max-width: 384px;
        width: 100%;
        border-left: 2px solid $theme-primary-color;
        overflow: hidden;
        transition: all .3s ease-in-out;

        @media (max-width:1399px) {
            padding: 25px 20px;
        }

        @media (max-width:1199px) {
            padding: 25px 15px;
        }

        &::before {
            position: absolute;
            left: 2px;
            top: 50%;
            transform: translateX(-50%);
            content: '';
            width: 15px;
            height: 14px;
            background: $theme-primary-color;
            z-index: 1;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }

        .icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $theme-primary-color;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            right: 25px;
            top: 40px;

            @media (max-width:1399px) {
                width: 45px;
                height: 45px;
                top: 25px;
                right: 15px;
            }

            i {
                color: #fff;
            }

        }

        h2 {
            margin-bottom: 0;
            font-family: $base-font;
            font-size: 25px;
            font-weight: 700;
            text-transform: capitalize;
            max-width: 200px;

            @media (max-width:1399px) {
                font-size: 20px;
                max-width: 160px;
            }

            @media (max-width:1199px) {
                font-size: 17px;
                max-width: 120px;
            }

            @media (max-width:991px) {
                font-size: 20px;
                max-width: 180px;
            }

            a {
                color: $heading-color;
                transition: all ease .4s;

                &:hover {
                    color: $theme-primary-color;
                }
            }
        }

        .icon {
            transform: rotate(0);
        }
    }
}

/* 6.4 wpo-odometer-section-s2*/
.wpo-odometer-section-s2 {
    padding: 120px 0;
    padding-bottom: 0;

    @media (max-width:991px) {
        padding-top: 90px;
    }

    @media (max-width:767px) {
        padding-top: 60px;
    }
}

/* 6.5 wpo-odometer-section-s2*/
.wpo-history-section-s2 {
    padding-top: 90px;

    @media (max-width:991px) {
        padding-top: 60px;
    }

    @media (max-width:767px) {
        padding-top: 40px;
    }
}

/*wpo-faq-section style-2*/
.wpo-faq-section.style-2 {
    background: #FFF;
    padding: 120px 0;

    @media (max-width:991px) {
        padding: 90px 0;
    }

    @media (max-width:767px) {
        padding: 60px 0;
    }

    .wpo-section-title-s2 span {
        color: $theme-primary-color;
    }

    .wpo-section-title-s2 h2 {
        color: $heading-color;
    }

    .wpo-section-title-s2 p {
        color: #444141;
    }

    .accordion-item button {
        color: #000;
    }

    .accordion-item {
        border-top: 1px solid #D9D9D9;

        .accordion-body p {
            color: $text-color;
        }
    }
}