.wpo-section-title,
.wpo-section-title-s2 {
	text-align: center;
	margin-bottom: 60px;
	margin-top: -15px;

	@include media-query(991px) {
		margin-bottom: 35px;
	}

	span {
		color: $theme-primary-color;
		font-size: 24px;
		font-weight: 600;
		line-height: 58px;
		letter-spacing: -0.24px;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(max-width:1199px) {
			font-size: 22px;
			line-height: 50px;
		}

		@media(max-width:991px) {
			justify-content: center;
		}

		@media (max-width:575px) {
			font-size: 20px;
			line-height: 45px;
		}

		@media (max-width:425px) {
			font-size: 18px;
		}

		i {
			line-height: unset;
			margin-right: 10px;
			position: relative;
			top: -2px;
			max-width: 35px;
		}
	}

	h2 {
		margin: 0;
		color: $heading-color;
		font-size: 60px;
		font-weight: 400;
		line-height: 89%;

		@media(max-width:1645px) {
			font-size: 55px;
		}

		@media(max-width:1199px) {
			font-size: 40px;
		}

		@media(max-width:425px) {
			font-size: 30px;
		}
	}

	p {
		margin: 0;
		color: #444141;
		font-size: 18px;
		font-weight: 500;
		line-height: 28.8px;
		max-width: 730px;
		margin: 0 auto;
		padding-top: 20px;

		@media(max-width:1199px) {
			font-size: 17px;
			line-height: 27.8px;
			max-width: 690px;
		}

		@media(max-width:575px) {
			font-size: 16px;
			line-height: 26.8px;
			max-width: unset;
			padding-top: 10px;
		}
	}
}

.wpo-section-title-s2 {
	text-align: left;

	@media (max-width:991px) {
		text-align: center;
		margin-bottom: 30px;
	}

	span {
		justify-content: flex-start;

		@media (max-width:991px) {
			justify-content: center;
		}
	}

	p {
		margin: 0;
		color: #032532;
		font-size: 18px;
		font-weight: 500;
		line-height: 28.8px;

		@media(max-width:575px) {
			font-size: 16px;
			line-height: 26.8px;
			max-width: unset;
		}
	}
}