/*--------------------------------------------------------------
2. header
--------------------------------------------------------------*/


/* 2.1 navigation */

.wpo-site-header {
	/* navigation open and close btn hide for width screen */
	/* style for navigation less than 992px */
	/*navbar collaps less then 992px*/
	/*** cart-search-contact ***/

}

.wpo-site-header .navigation {
	background-color: #fff;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

.sticky-header {
	width: 100%;
	position: fixed;
	left: 0;
	top: -400px;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	-webkit-box-shadow: 0 -5px 15px #086ad84a;
	box-shadow: 0 -5px 15px #086ad84a;
}

.sticky-on {
	opacity: 1;
	top: 0;
	visibility: visible;
}

.wpo-site-header .navigation>.container {
	position: relative;
}

@media (max-width: 991px) {
	.wpo-site-header .navigation {
		padding: 10px 0;
	}
}

.wpo-site-header #navbar {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.wpo-site-header #navbar>ul li a:hover,
.wpo-site-header #navbar>ul li a:focus {
	text-decoration: none;
	color: $theme-primary-hover-color;
}

@media screen and (min-width: 992px) {
	.wpo-site-header #navbar {
		/*** hover effect ***/
	}

	.wpo-site-header #navbar li {
		position: relative;
	}


	.wpo-site-header #navbar>ul>li>a:hover:before,
	.wpo-site-header #navbar>ul>li>a.active:before {
		opacity: 1;
		visibility: visible;
	}

	.wpo-site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a {
		position: relative;
	}

	.wpo-site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a:before {
		font-family: "themify";
		content: "\e649";
		font-size: 11px;
		font-size: 0.73333rem;
		position: absolute;
		right: 15px;
		top: 58%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.wpo-site-header #navbar>ul>li:hover>.sub-menu {
		top: 100%;
		visibility: visible;
		opacity: 1;
	}

	.wpo-site-header #navbar .sub-menu>li:hover>.sub-menu {
		left: 100%;
		visibility: visible;
		opacity: 1;
	}
}

.wpo-site-header .container-fluid {
	display: block;

	@media (max-width: 991px) {
		padding-right: 0;
	}
}

@media (max-width: 991px) {
	.wpo-site-header {
		/* class for show hide navigation */

		.row {
			flex-wrap: nowrap;
		}
	}

	.wpo-site-header .container {
		width: 100%;
		max-width: 100%;
	}

	.wpo-site-header .header-right {
		right: 15px;

		@media (max-width: 425px) {
			right: 0;
		}
	}

	.wpo-site-header .navbar-header button span {
		background-color: #fff;
		width: 20px;
		display: block;
		height: 2px;
		margin-bottom: 5px;
	}

	.wpo-site-header .navbar-header button span:last-child {
		margin: 0;
	}
}

.wpo-site-header #navbar {
	ul {
		list-style: none;
	}
}

@media (max-width: 991px) and (max-width: 991px) {
	.wpo-site-header #navbar {
		top: 0;
		visibility: visible;
		opacity: 1;
	}
}

@media (max-width: 991px) {
	.wpo-site-header #navbar>ul {
		z-index: 101;
	}

	.wpo-site-header #navbar ul a {
		color: #000;
	}

	.wpo-site-header #navbar ul a:hover,
	.wpo-site-header #navbar ul li.current a {
		color: $theme-primary-color;
	}

	.wpo-site-header #navbar .close-navbar .ti-close {
		position: relative;
		top: 1px;
	}

	.wpo-site-header .navbar-toggler .first-angle,
	.wpo-site-header .navbar-toggler .last-angle {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.wpo-site-header .x-close .middle-angle {
		opacity: 0;
	}

	.wpo-site-header .x-close .first-angle {
		position: absolute;
		-webkit-transform: rotate(-44deg);
		top: 16px;
		left: 10px;
	}

	.wpo-site-header .x-close .last-angle {
		-webkit-transform: rotate(44deg);
		position: absolute;
		top: 16px;
		right: 10px;
	}
}

@media (max-width: 767px) {
	.wpo-site-header .navbar-header .navbar-brand {
		font-size: 24px;
	}

	.wpo-site-header #navbar .navbar-nav {
		margin: 0;
	}
}

@media (max-width: 991px) {
	.wpo-site-header .navbar-collapse.collapse {
		display: none;
	}

	.wpo-site-header .navbar-collapse.collapse.in {
		display: block;
	}

	.wpo-site-header .navbar-header .collapse,
	.wpo-site-header .navbar-toggle {
		display: block;
	}

	.wpo-site-header .navbar-header {
		float: none;
		position: relative;
		z-index: 99;
		text-align: center;
	}

	.wpo-site-header .navbar-right {
		float: none;
	}

	.wpo-site-header .navbar-nav {
		float: none;
	}

	.wpo-site-header .navbar-nav>li {
		float: none;
	}
}

.wpo-site-header .header-right {
	display: flex;
	justify-content: flex-end;
	z-index: 991;
	position: relative;
	align-items: center;
}

.wpo-site-header .header-right button {
	padding: 0;
	border: 0;
	outline: 0;
}

.wpo-site-header .header-right>div {
	float: left;
	position: relative;
	margin-right: 8px;

	@media(max-width:1200px) {
		margin-right: 0;
	}
}

.wpo-site-header .header-right {
	.close-form {
		.theme-btn-s2 {
			padding: 13px 35px;
			color: $white;
			font-size: 15px;
			font-weight: 500;
			border-radius: 24px;
			text-transform: lowercase;

			@media(max-width:1400px) {
				padding: 10px 15px;
			}

			@media(max-width:1200px) {
				padding: 12px 17px;
			}

			@media(max-width:991px) {
				font-size: 12px;
			}

			@media(max-width:767px) {
				padding: 12px;
				border-radius: 50%;
			}

			@media(max-width: 425px) {
				display: none;
			}

			span {
				@media(max-width:767px) {
					display: none;
				}
			}

			i {
				padding-left: 5px;

				@media(max-width:767px) {
					padding-left: 0;
				}

				svg {
					@media(max-width:767px) {
						width: 20px;
						height: 20px;
					}
				}
			}

			&::before {
				display: none;
			}
		}
	}
}


.wpo-site-header .header-right>div:last-child {
	margin: 0 0 0 15px;
	position: relative;


}

@media (max-width: 991px) {
	.page-wrapper {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.body-overlay:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}
}


.wpo-site-header .header-right .header-search-form-wrapper {
	position: relative;
}

.wpo-site-header .header-right .header-search-form-wrapper i {
	font-size: 22px;
}

.wpo-site-header .header-right .header-search-form i {
	font-size: 22px;
}

.wpo-site-header .header-right .cart-toggle-btn {
	@media(max-width:450px) {
		display: none;
	}
}

.wpo-site-header .header-right .search-toggle-btn,
.wpo-site-header .header-right .cart-toggle-btn {
	background-color: rgba(7, 1, 67, .05);
	line-height: 0.66em;
	color: $heading-color;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;

	@media(max-width:1200px) {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	@media(max-width:991px) {
		width: 44px;
		height: 44px;
		line-height: 44px;
	}

	@media(max-width:425px) {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.fi {
		font-size: 22px;

		&:before {
			@media(max-width:991px) {
				font-size: 18px;
			}

			@media(max-width:425px) {
				font-size: 20px;
			}
		}
	}

	.ti-close {
		display: block;
		line-height: 20px;
		position: relative;
		top: -2px
	}
}

/*** cart-search-contact ***/
.cart-search-contact {

	button {
		background: transparent;
		padding: 0;
		border: 0;
		outline: 0;
	}

	.fi {
		font-size: 30px;

	}

	>div {
		float: left;
		position: relative;
	}

	>div+div {
		margin-left: 12px;
	}

	.header-search-form {
		position: absolute;
		width: 350px;
		right: 0;
		top: 79px;
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		background: $white;
		padding: 30px;
		border-radius: 6px;
		@include transition-time(0.5s);
		box-shadow: -2px 18px 40px -9px rgba(153, 153, 153, 1);

		@include media-query(991px) {
			top: 65px;
		}

		@include media-query(767px) {
			right: 15px;
		}

		@include media-query(575px) {
			width: 260px;
			padding: 15px;
		}
	}

	.header-search-form-wrapper .fi:before {
		font-size: 18px;
	}

	form div {
		position: relative;

		button {
			position: absolute;
			right: 15px;
			top: 50%;
			@include translatingY();

			.fi {
				&:before {
					font-size: 22px;
				}
			}
		}
	}

	input {
		width: 100%;
		height: 50px;
		padding: 6px 20px;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		border: 1px solid $border-color-s2;

		&:focus {
			box-shadow: none;
			border-color: $theme-primary-color;
		}
	}
}

.wpo-site-header .header-right .header-search-content-toggle {
	opacity: 1;
	visibility: visible;
	right: 0;
	transform: scale(1);
}

.header-search-area {
	background: #fff;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}

.header-search-area h3 {
	font-size: 45px;
	margin: 0 0 1em;
}

.header-search-area form {
	position: relative;
}

.header-search-area input {
	height: 50px;
	font-size: 18px;
	font-size: 1.2rem;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #d0d0d0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header-search-area input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: $theme-primary-color;
}

.header-search-area form button {
	background: transparent;
	border: 0;
	font-size: 20px;
	font-size: 1.33333rem;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.header-search-area form button:focus {
	border: none;
	outline: none;
}

.header-search-area .close-form {
	position: absolute;
	right: 35px;
	top: 35px;
	bottom: auto;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

.header-search-area .close-form button {
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 13px;
	font-size: 0.86667rem;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 2px;
	z-index: 99;
}

.header-search-area .close-form button:focus {
	border: 0;
	outline: 0;
}

.wpo-site-header {
	.navigation {
		>.container {
			position: relative;
		}
	}

	#navbar {
		@include transition-time(0.5s);

		>ul li a:hover,
		>ul li a:focus {
			text-decoration: none;
			color: $theme-primary-color;
		}

		// style for widther screen
		@include widther(992px) {
			li {
				position: relative;
			}

			>ul>li>a {
				font-size: 16px;
				padding: 40px 30px;
				display: block;
				position: relative;
				text-transform: capitalize;
				color: #000;
				font-size: 16px;
				font-weight: 700;
				line-height: normal;
			}

			>ul .sub-menu {
				background-color: #fff;
				box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
				width: 225px;
				position: absolute;
				padding: 20px 0;
				left: 0;
				top: 110%;
				z-index: 10;
				visibility: hidden;
				opacity: 0;
				@include transition-time(0.3s);
				transform: scaleY(0);
				transform-origin: center top 0;
				transition: all 0.3s ease-in-out 0s;
				-webkit-transition: all 0.3s ease-in-out 0s;
			}

			>ul>li .sub-menu a {
				font-size: 16px;
				display: block;
				padding: 10px 15px;
				color: $dark-gray;
				position: relative;
				overflow: hidden;
				font-weight: 500;
				text-transform: capitalize;

				&:after {
					position: absolute;
					left: 15px;
					bottom: 0;
					width: 0;
					height: 3px;
					background: $theme-primary-color;
					content: "";
					transition: all .3s;
					border-radius: 5px;
				}

				&:hover,
				&.active {
					color: $theme-primary-color;

					&:after {
						width: 40px;
						opacity: 1;
						visibility: visible;
					}
				}
			}

			>ul>li>.sub-menu .sub-menu {
				left: 110%;
				top: 0;
				@include transition-time(0.3s);
				transform: none;
				transform-origin: none;
				transition: all 0.3s ease-in-out 0s;
			}

			>ul>li>.sub-menu>.menu-item-has-children>a {
				position: relative;

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 15px;
					top: 50%;
					@include translatingY();
				}
			}

			/*** hover effect ***/
			>ul>li:hover>.sub-menu {
				top: 100%;
				visibility: visible;
				opacity: 1;
				transform: scaleY(100%);
				-webkit-transform: scaleY(100%);
			}

			.sub-menu>li:hover>.sub-menu {
				left: 100%;
				visibility: visible;
				opacity: 1;
			}
		}

		@include media-query(991px) {

			>ul>li a {
				display: block;
				font-size: 15px;
				font-size: calc-rem-value(15);
				color: $white;
				font-weight: 600;

				&:hover,
				&.active {
					color: $white;
				}
			}

			>ul .sub-menu>li:last-child {
				border-bottom: 0;
			}

			>ul>li>.sub-menu a {
				padding: 8px 15px 8px 45px;
			}

			>ul>li>.sub-menu .sub-menu a {
				padding: 8px 15px 8px 65px;
			}

			>ul .menu-item-has-children>a {
				position: relative;
				color: #ddd;

				&:hover,
				&.active {
					color: #fff;
				}

				&:before {
					font-family: "themify";
					content: "\e649";
					font-size: 11px;
					font-size: calc-rem-value(11);
					position: absolute;
					right: 30px;
					top: 50%;
					@include translatingY();
					@include transition-time(0.3s);
				}

				&.rotate {
					&:before {
						transform: rotate(90deg);
						top: 29%;
					}
				}

				&.rotate {
					color: #fff;
				}
			}
		}
	}

	/* navigation open and close btn hide for width screen */
	@include widther(992px) {
		.navbar-header .open-btn {
			display: none;
		}

		#navbar .close-navbar {
			display: none;
		}
	}

	.menu-close {
		display: none;
	}

	/* style for navigation less than 992px */
	@include media-query (991px) {
		.container {
			width: 100%;
		}

		.mobail-menu button {
			background-color: $theme-primary-color;
			width: 40px;
			height: 35px;
			border: 0;
			padding: 5px 10px;
			outline: 0;
			position: relative;
			z-index: 20;

			&:focus {
				outline: none;
				box-shadow: none;
			}

			span {
				background-color: $white;
				width: 20px;
				display: block;
				height: 2px;
				margin-bottom: 4px;

				&.first-angle {
					margin-top: 2px;
				}

				&:last-child {
					margin: 0;
				}
			}

			.sr-only {
				display: none;
				opacity: 0;
				visibility: hidden;
			}
		}

		#navbar {
			background: $theme-primary-color-s2;
			display: block;
			width: 300px;
			height: 100%;
			margin: 0;
			padding: 0;
			border: 0;
			position: fixed;
			left: -320px;
			top: 0px;
			z-index: 999999;
			opacity: 0;
			visibility: hidden;

			.navbar-nav {
				display: block;
			}

			>ul {
				position: relative;
				z-index: 101;
			}

			ul a {
				color: $black;
			}

			ul a:hover,
			ul li.current a {
				color: $theme-primary-color;
			}

			.navbar-nav {
				height: 100%;
				overflow: auto;
				padding-bottom: 60px;
			}

			.close-navbar {
				background-color: $white;
				width: 40px;
				height: 40px;
				color: $black;
				border: 0;
				outline: none;
				position: absolute;
				left: -41px;
				top: 90px;
				z-index: 20;

				.ti-close {
					position: relative;
					top: 1px;
				}
			}
		}

		.menu-close {
			display: block;
			z-index: 99;
			background: none;
			text-align: center;
			color: $white;
			border: 0;
			text-align: center;
			margin-left: auto;
			margin-top: 30px;
			margin-right: 30px;
			margin-bottom: 30px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border: 1px solid $white;
		}

		/* class for show hide navigation */
		#navbar.slideInn {
			left: 0;
			opacity: 1;
			visibility: visible;
		}

		.navbar-toggler .first-angle,
		.navbar-toggler .last-angle {
			@include transition-time(0.3s);
		}

		.x-close .middle-angle {
			opacity: 0;
		}

		.x-close .first-angle {
			position: absolute;
			-webkit-transform: rotate(-44deg);
			top: 16px;
			left: 10px;
		}

		.x-close .last-angle {
			-webkit-transform: rotate(44deg);
			position: absolute;
			top: 16px;
			right: 10px;
		}
	}

	@include media-query(767px) {
		.navbar-header .navbar-brand {
			font-size: 24px;
		}

		#navbar .navbar-nav {
			margin: 0;
		}
	}

	.navbar-header .navbar-brand {
		display: block;
		padding-left: 0;

		@media(max-width: 1200px) {
			padding-left: 30px;
		}

		@media(max-width: 991px) {
			padding-left: 0;
		}

		img {
			max-width: 145px;
		}
	}


	/*navbar collaps less then 992px*/
	@include media-query (991px) {
		.navbar-collapse.collapse {
			display: none;
		}

		.navbar-collapse.collapse.in {
			display: block;
		}

		.navbar-header .collapse,
		.navbar-toggle {
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-right {
			float: none;
		}

		.navbar-nav {
			float: none;
		}

		.navbar-nav>li {
			float: none;
		}
	}
}



@media(max-width: 425px) {
	.wpo-site-header .navbar-header .navbar-brand {
		img {
			max-width: 130px;
		}
	}
}

.wpo-site-header {
	padding-left: 135px;
	padding-right: 30px;

	@media(max-width: 1700px) {
		padding-left: 70px;

	}

	@media(max-width: 1399px) {
		padding: 0 10px;
	}

}

@media(max-width: 1500px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 15px;
	}
}

@media(max-width: 991px) {
	.wpo-site-header {
		padding: 0;
	}
}

@media(max-width: 1700px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 32px 18px;
	}
}

@media(max-width: 1400px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 15px;
	}
}

@media(max-width: 1200px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 30px 10px;
		font-size: 15px;
	}
}

@media(max-width: 991px) {
	.wpo-site-header #navbar>ul>li>a {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.header-right .theme-btn {
		padding: 20px 12px;
	}

}

@media(max-width:991px) {
	.wpo-site-header #navbar>ul>li>a {
		padding: 15px 30px;
	}
}

@media(max-width:991px) {

	.wpo-site-header,
	.wpo-header-style-2 {
		z-index: 99999;
	}
}

.wpo-site-header .navigation.sticky-header {
	padding: 0 80px;

	@media(max-width:1700px) {
		padding: 0 50px;
	}

	@media(max-width:1400px) {
		padding: 0 30px;
	}
}

@media(max-width:1700px) {
	.wpo-site-header .sticky-header .navigation.sticky-header {
		padding: 0 30px;
	}
}

@media(max-width:1400px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 0 10px;
	}
}

@media(max-width:991px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 0;
	}
}

@media(max-width:425px) {
	.wpo-site-header .navigation.sticky-header {
		padding: 0;
	}
}