/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 wpo-hero-slider*/
.wpo-hero-section {
    background: url(../images/hero/hero-bg.jpg) no-repeat right;
    position: relative;
    height: 860px;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 90px;


    @media (max-width:1199px) {
        margin-left: 60px;
    }

    @media (max-width:991px) {
        height: auto;
        padding: 100px 0;
    }

    @media (max-width:575px) {
        margin-left: 30px;
        padding: 70px 0;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background: linear-gradient(258deg, rgba(239, 239, 240, 0.00) 36.38%, rgba(239, 239, 240, 0.31) 41.51%, rgba(239, 239, 240, 0.56) 45.53%, #EFEFF0 51.07%, #EFEFF0 60.52%, #EFEFF0 71.12%, #EFEFF0 94.37%), ;
        width: 100%;
        height: 100%;
        z-index: -1;

        @media (max-width:1199px) {
            background: linear-gradient(258deg, rgba(239, 239, 240, 0) -0.62%, rgba(239, 239, 240, 0.31) 12.51%, rgba(239, 239, 240, 0.56) 45.53%, #EFEFF0 51.07%, #EFEFF2 57.52%, #EFEFF0 72.12%, #EFEFF0 84.37%);
        }
    }

    .hero-wapper {
        .hero-side-left {
            position: absolute;
            left: -280px;
            top: 315px;

            @media (max-width:1199px) {
                left: -265px;
            }

            @media (max-width:991px) {
                top: 260px;
            }

            @media (max-width:575px) {
                left: -217px;
                top: 250px;
            }

            .hero-side-left-items {
                transform: rotate(90deg);

                ul {
                    display: flex;

                    li {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 75%;
                        text-transform: capitalize;
                        margin-right: 10px;

                        @media (max-width:575px) {
                            font-size: 15px;
                            line-height: 65%;
                        }

                        a {
                            color: $black;
                            display: flex;

                            i {
                                padding-right: 5px;
                                font-size: 18px;

                                @media (max-width:575px) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .hero-content {
            position: relative;
            z-index: 1;
            padding-left: 200px;

            @media (max-width:1199px) {
                padding-left: 80px;
            }

            @media (max-width:991px) {
                text-align: center;
                padding-left: 0;
            }

            .hero-title {
                span {
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 40px;
                    text-transform: capitalize;

                    @media (max-width:575px) {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }

            .hero-sub-title {
                h2 {
                    color: #000;
                    font-size: 80px;
                    font-weight: 500;
                    line-height: 80px;
                    letter-spacing: -2.4px;
                    text-transform: capitalize;
                    max-width: 790px;
                    padding-top: 12px;

                    @media (max-width:991px) {
                        margin: 0 auto;
                    }

                    @media (max-width:767px) {
                        font-size: 60px;
                        line-height: 70px;
                        max-width: 410px;
                    }

                    @media (max-width:575px) {
                        font-size: 50px;
                        line-height: 60px;
                        padding-top: 0;
                    }

                    @media (max-width:425px) {
                        font-size: 41px;
                        line-height: 48px;
                    }

                    span {
                        font-weight: 300;
                        font-size: 80px;

                        @media (max-width:767px) {
                            font-size: 60px;
                            line-height: 70px;
                        }

                        @media (max-width:575px) {
                            font-size: 50px;
                            line-height: 60px;
                        }

                        @media (max-width:425px) {
                            font-size: 41px;
                            line-height: 48px;
                        }
                    }
                }
            }

            .hero-btns {
                display: flex;
                padding-top: 25px;

                @media (max-width:767px) {
                    padding-top: 15px;
                }

                @media (max-width:991px) {
                    justify-content: center;
                }

                @media (max-width:425px) {
                    display: block;
                }

                .theme-btn-s2 {
                    @media (max-width:767px) {
                        padding: 15px 30px;
                        font-size: 14px;
                        line-height: 22px;
                        padding-right: 40px;
                    }

                    &::before {
                        @media (max-width:991px) {
                            top: 50%;
                        }

                        @media (max-width:418px) {
                            top: 52%;
                        }
                    }
                }
            }

            .hero-content-shape {
                position: absolute;
                top: -47px;
                left: 150px;
                z-index: -1;

                @media (max-width:1199px) {
                    left: 40px;
                }

                @media (max-width:991px) {
                    display: none;
                }
            }
        }

    }

    .shape-2 {
        position: absolute;
        bottom: 63px;
        left: -64px;

        @media (max-width:1199px) {
            left: -51px;
        }

        @media (max-width:991px) {
            display: none;
        }

        img {
            animation: wave 6s ease-in-out infinite;
        }
    }
}


/* hero style 2*/
.hero-slider {
    width: 100%;
    height: 840px;
    position: relative;
    z-index: 1;
    background: #EFEFF0;

    @media (max-width:991px) {
        height: 650px;
    }

    .slide-inner {
        position: relative;
        z-index: 1;

        @media(max-width:991px) {
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(2, 34, 125, 0.40);
                z-index: -1;
            }
        }

        .bottom-shape {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;

        }

    }

    .slide-content {

        @media(max-width:767px) {
            padding: 30px 15px;
        }

        .slide-title {
            position: absolute;
            right: 250px;

            @media (max-width:1600px) {
                right: 20px;
            }

            @media (max-width:991px) {
                position: unset;
                padding-top: 90px;
                text-align: center;
            }

            p {
                margin: 0;
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                max-width: 413px;

                @media (max-width:575px) {
                    font-size: 18px;
                    line-height: 26px;
                    max-width: 413px;
                }
            }

            .hero-btn {
                padding-top: 30px;

                @media (max-width:575px) {
                    padding-top: 20px;
                }

                .theme-btn {
                    padding: 15px 54px;
                    background-color: #fff;
                    color: #000;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        .slide-sub-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            @media (max-width:991px) {
                bottom: 55px;
            }

            h2 {
                text-align: center;
                margin: 0;
                color: #FFF;
                font-size: 140px;
                font-weight: 600;
                line-height: 180px;
                letter-spacing: -4.2px;
                text-transform: capitalize;

                @media (max-width:1845px) {
                    font-size: 120px;
                    line-height: 170px;
                }

                @media (max-width:1600px) {
                    font-size: 105px;
                    line-height: 150px;
                }

                @media (max-width:1399px) {
                    font-size: 90px;
                    line-height: 130px;
                }

                @media (max-width:1199px) {
                    font-size: 75px;
                    line-height: 110px;
                }

                @media (max-width:991px) {
                    font-size: 61px;
                    line-height: 95px;
                }

                @media (max-width:767px) {
                    font-size: 48px;
                    line-height: 60px;
                }

                @media (max-width:425px) {
                    font-size: 35px;
                    line-height: 43px;
                }
            }
        }

        .hero-circle {
            position: absolute;
            left: 250px;
            top: 200px;

            @media (max-width:991px) {
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
            }

            .circle-content {
                width: 160px;
                height: 160px;
                position: relative;
                background: rgba(1, 19, 71, 0.40);
                border: 1px solid #3860D2;
                padding: 5px;
                box-shadow: (0 2px 12px rgba(4, 0, 52, 0.06));
                font-family: "DM Sans";
                font-size: 11px;
                letter-spacing: 6.5px;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 100%;
                color: #fff;

                .rotate-anm {
                    animation: roted 30s linear infinite;
                }

                svg {
                    textPath {
                        fill: $white;
                    }
                }

                .arrows {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    stroke-width: 0.818px;
                    width: 82px;
                    height: 82px;
                    line-height: 79px;
                    border-radius: 82px;
                    text-align: center;
                }
            }
        }
    }
}


.hero-slider .swiper-slide {
    overflow: hidden;
}

.hero-slider .swiper-container,
.hero-slider .hero-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-slider .slide-inner,
.hero-slider .hero-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hero-slider .swiper-button-prev:hover,
.hero-slider .swiper-button-next:hover {
    opacity: 0.9;
}

@media screen and (min-width: 992px) {
    .hero-slider .swiper-pagination-bullet {
        display: none;
    }
}

.hero-slider .swiper-pagination-bullet-active {
    color: #fff;
    background: $theme-primary-color;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
    bottom: 25px;
}

.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    color: #fff;
    background: $white;
    width: 10px;
    height: 10px;
}

.hero-slider .gradient-overlay+.container {
    position: relative;
    z-index: 11;
}

.hero-slider .swiper-slide {
    position: relative;
    z-index: 11;
}


@keyframes rotateAniamtion {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes roted {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* hero style 3*/
.wpo-hero-section-s3 {
    position: relative;
    height: 900px;
    background: #f5f8fe;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    @media(max-width:991px) {
        height: auto;
        padding: 120px 0;
    }

    @media(max-width:575px) {
        padding: 70px 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 60%;
        background: #f5f8fe;
        -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .hero-right-content {

        .hero-title {
            span {
                color: $theme-primary-color;
                font-size: 20px;
                font-weight: 700;
                line-height: 35px;
                text-transform: capitalize;

                @media(max-width:1399px) {
                    font-size: 18px;
                    line-height: 32px;
                }

                @media(max-width:1199px) {
                    font-size: 15px;
                    line-height: 30px;
                }

                @media(max-width:991px) {
                    font-size: 17px;
                }

                @media(max-width:425px) {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .hero-sub-title {
            h2 {
                margin: 0;
                font-size: 80px;
                font-weight: 600;
                line-height: 85px;
                letter-spacing: -2.4px;
                text-transform: capitalize;
                padding-top: 20px;

                @media(max-width:1399px) {
                    font-size: 70px;
                    line-height: 75px;
                }

                @media(max-width:1199px) {
                    font-size: 60px;
                    line-height: 65px;
                }

                @media(max-width:767px) {
                    font-size: 55px;
                    line-height: 60px;
                    padding-top: 10px;
                }

                @media(max-width:575px) {
                    font-size: 45px;
                    line-height: 54px;
                }

                @media(max-width:425px) {
                    font-size: 35px;
                    line-height: 45px;
                }

                span {
                    color: $theme-primary-color;
                }
            }
        }

        .hero-discription {
            padding-top: 20px;

            @media(max-width:991px) {
                padding-top: 10px;
            }

            p {
                margin: 0;
                color: #032532;
                font-size: 18px;
                font-weight: 400;
                line-height: 28.8px;

                @media(max-width:575px) {
                    font-size: 16px;
                    line-height: 26.8px;
                }
            }
        }

        .hero-btns {
            display: flex;
            gap: 30px;
            margin-top: 40px;

            @media(max-width:991px) {
                margin-top: 20px;
            }

            @media(max-width:575px) {
                gap: 20px;
            }

            .hero-btn-video {

                .video-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 2px solid #FFF;
                    background: #fff;
                    animation: spineerb 2s infinite;

                    @media(max-width:575px) {
                        width: 50px;
                        height: 50px;
                    }

                    svg {
                        width: 25px;
                        height: 25px;

                        @media(max-width:575px) {
                            width: 20px;
                            height: 20px;
                        }

                    }
                }
            }
        }
    }

    .hero-image {
        .image {
            position: absolute;
            left: 0;
            top: 0;
            height: 900px;
            width: 55%;
            z-index: -11;
            background: url(../images/hero/slide-3.jpg) no-repeat right center;

            @media(max-width:991px) {
                display: none;
            }
        }
    }
}